@font-face {
  font-family: NataLight;
  src: url(NataSans-VariableFont_wght.ttf);
  font-weight: 100;
}
@font-face {
  font-family: NataRegular;
  src: url(NataSans-VariableFont_wght.ttf);
  font-weight: 400;
}

* {
  color: black;
  text-decoration: none;
  font-family: NataRegular;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background: #f3f3f3;
  color: #222222;
  justify-content: center;
  min-height: 100vh;
}

header {
  display: grid;
  text-align: center;
  padding: .1rem;
  font-size: 1.5rem;
  background: #000000;
  color: white;
  font-family: NataLight;
  font-weight: 100;
  h1 {
    margin: .6rem;
  }
}

h1 {
  font-family: NataLight;
  font-size: 3rem;
  color: white;
}

h2 {
  font-family: NataLight;
  font-size: 3rem;
}

.mic-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5em;
  padding: 2em;
}

.mic-card {
  text-decoration: none;
  color: inherit;
  background: white;
  display: grid;
  overflow: hidden;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  box-sizing: border-box;
  transition: transform .3s ease,
              box-shadow .3s ease;
}

.mic-card:hover {
  background: black;
  color: white;
  position: relative;
  transform: translateY(-4px);
  box-shadow: 8px 4px 32px rgba(0,0,0,.25);
  transition: transform .5s ease,
              box-shadow .5s ease;
}

.fx-box {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}

.mic-card:hover .fx-box {
  border: 3px black solid;
}

.mic-card:hover h2 {
  color: white;
}

.mic-card img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.mic-card h2 {
  text-align: center;
  padding: 0.2em .4em;
  font-size: 2em;
  margin: 0;
}

.mic-label {
  background-color: #000000;
  color: white;
  position: absolute;
  font-size: 1.3em;
  padding: .5em .5em;
  pointer-events: none;
}

.mic-card:hover .mic-label {
  transform: translate();
}

footer {
  text-align: center;
  padding: 1em;
  color: #666;
  width: auto;
}

/* Mic page */
.main-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

.slideshow-wrapper {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 1em;
  max-height: 550px;
}

.slideshow-preview {
  margin: 1em;
  margin-right: 0;
  flex: 1;
  overflow-y: scroll;
  min-width: 135px;
  max-height: 500px;
  height: auto;
  scrollbar-width: auto;
  scrollbar-color: black transparent;
  scrollbar-track-color: transparent;
}

.slideshow-preview::-webkit-scrollbar {
  border-radius: 0;
}

.slideshow-preview::-webkit-scrollbar-track {
  border-radius: 0;
  background: transparent;
}

.slideshow-preview::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: black;
}

.preview-slide {
  width: 125px;
  height: 125px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.preview-slide img {
  width: 100%;
  height: 100%;
}

.slideshow-container {
  flex: 5;
  position: relative;
  margin: 1em;
  max-height: 500px;
}

.slide {
  width: 500px;
  display: none;
}

.slide img {
  width: 100%;
}

.mic-info {
  max-width: 520px;
  margin: .2em;
  padding: .2em;
  border-radius: 12px;
}

.sub-row {
  width: 100%;
  height: 1000px;

}

.back {
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  margin-left: 1rem;
  align-self: center;
  color: white;
}
.sub-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 3rem;
}

#motion {
  max-width: 500px;
  aspect-ratio: 1;
}

@media screen and (max-width: 800px) {
  header h1 {
    font-size: 1em;
  }

  .back {
    font-size: .75em;
  }

  .main-row {
    display: grid;
  }
  .slideshow-wrapper {
    position: relative;
    width: 100%;
    height: 400px;
  }
  .slideshow-container {
    width: 100%;
    height: 335px;
  }
  .slide {
    width: 100%;
    aspect-ratio: 1;
    height: 100%;
  }
  .preview-slide {
    width: auto;
    aspect-ratio: 1;
    height: auto;
  }
  .slideshow-preview {
    min-width: 80px;
    width: 80px;
    height: 335px;
  }
  .preview-slide img {
    width: 100%;
    height: 100%;
  }
}